.mobile-navbar {
    display: none;
    bottom: 0;
    background-color: var(--black-color);
    height: 50px;
    border-top: 1px solid #666663;
    z-index: 3;
}

.icon-nav {
    display: inline-block;
    font-size: 0.6875rem;
}

.icon-nav a {
    text-decoration: none;
    color: #666663;
}

.icon-nav a.active {
    border-top: 2px solid var(--main-color);
    color: var(--main-color);
    font-weight: 500;
}

/* For smaller screens */
@media only screen and (max-width: 768px) {
    .mobile-navbar {
        display: block;
    }
}