.proj-logo {
    height: 100vh;
    width: 100%;
    padding: 0 0.875rem;
}

.vertical-shape img {
    width: 350px;
    height: auto;
}

.horizontal-shape img {
    width: 600px;
    height: auto;
}

.box-shape img {
    width: 400px;
    height: auto;
}