.contactInfo a {
    color: var(--main-color);
}

.contactLabel {
    margin-bottom: 4px;
}

.contactDesc {
    color: #f2f2f2;
    margin-bottom: 20px;
}

.contactIcon {
    margin-right: 8px;
}

.uk-divider-small::after {
    border-top: 1px solid var(--main-color);
}



/* For smaller screens */
@media only screen and (max-width: 768px) {
    .contactInfo {
        margin-top: 2rem;
    }
}