.gd-proj-section {
    overflow: hidden;
    height: 100vh;
    width: 100%;
}

.gd-proj-section>img {
    object-fit: cover;
    object-position: left;
    min-width: 100%;
    min-height: 100%;
}

.gd-proj-section>div {
    margin: 2rem 4rem;
}

.gd-proj-section h3 {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 32px;
}




/* For mobile */
@media screen and (max-width: 768px) {
    .gd-proj-section>div {
        margin: 1.25rem;
    }
}