.project-info {
    background-color: #ffffff;
}

.project-info h2 {
    font-family: var(--main-font);
    padding: 0 0.875rem;
    font-size: 2.625rem;
    width: 100%;
    margin: 2.5rem 0;
    color: var(--black-color);
}

.project-info h3 {
    font-family: var(--main-font);
    flex: 1;
    text-align: right;
    font-weight: 500;
    font-size: 1rem;
}

.project-info p {
    flex: 2;
    margin: 0 2rem 0 2.5rem;
}




/* For smaller screens */
@media only screen and (max-width: 768px) {
    .project-info-text {
        flex-direction: column;
        text-align: left;
    }

    .project-info h3 {
        text-align: left;
        margin: 1rem 1.25rem;
    }

    .project-info p {
        margin: 0 1.25rem;
    }
}